div{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 2s; */
    transition: all 2s ease-in 2s;
}
div:hover{
    background-color: red;
    color: white;
    font-size: 20px;
}
div:active{
    background-color: pink;
}